<!DOCTYPE html>
<html>
  <%- include('./partials/head')%>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('./partials/header')%>
    <%- include('./partials/banner')%>
    <%- include('./partials/novedades')%>
    <%- include('./partials/comentarios')%>
    <%- include('./partials/foot')%>
  </body>
</html>
