<!DOCTYPE html>
<html>
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header')%>
    <%- include('./partials/banner')%>
    <%- include('./partials/novedades')%>
    <%- include('./partials/comentarios')%>
    <%- include('./partials/foot')%>
  </body>
</html>
