<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

    <%- include('./partials/banner') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
    	<div class="row">
        	<div class="col-12">
            	<h2 class="products-title">Novedades</h2>
        	</div>
        	<!-- Show the "ultimos" products -->
        	<% for (let i = 0; i < lista_productos.length; i++) { %>
            	<div class="col-12 col-sm-6 col-lg-3">
                	<section class="product-box">
                    	<a href="/productos/detalle/<%= lista_productos[i].id %>">
                        	<figure class="product-box_image">
                            	<img src="<%- lista_productos[i].imagen %>" alt="<%= lista_productos[i].nombre %>">
                        	</figure>
                        	<article class="product-box_data">
                            	<h2><%= lista_productos[i].nombre_producto %></h2>
                            	<p><%= lista_productos[i].descripcion %></p>
                            	<p>Comentarios: <%= lista_productos[i].comments.length %></p>
                        	</article>
                    	</a>
                	</section>
            	</div>
        	<% } %>
    	</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 4; i < lista_productos.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/detalle/<%= lista_productos[i].id %>">
						<figure class="product-box_image">
							<img src="<%- lista_productos[i].imagen %>" alt="<%= lista_productos[i].nombre %>">
						</figure>
						<article class="product-box_data">
							<h2><%= lista_productos[i].nombre %></h2>
							<p><%= lista_productos[i].descripcion %></p>
							<p>Comentarios: <%= lista_productos[i].comments.length %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Más comentados -->
    <%- include('./partials/foot')%>
  </body>
</html>