<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>
<body>
    <% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>  

	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						<%= info_usuario.comentarios%>
						<a href="/profile/<%= info_usuario.comentarios%>"> <%= info_usuario.usuarios %></a>
						<a href="/users/editProfile">
							<i class="fas fa-cog"></i> <%=info_usuario.usuario%>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="/users/editProfile">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	

	
	<div class="container products-wrapper">
    	<div class="row">
        	<div class="col-12">
            	<h2 class="products-title">Mis Productos</h2>
        	</div>
        	<% for (let i = 0; i < info_usuario.length; i++) { %>
            	<div class="col-12 col-sm-6 col-lg-3">
                	<section class="product-box">
                    	<a href="/productos/detalle/<%= info_usuario[i].id %>">
                        	<figure class="product-box_image">
                            	<img src="<%=info_usuario[i].imagen %>" alt="<%= info_usuario[i].nombre %>">
                        	</figure>
                        	<article class="product-box_data">
                            	<h2><%= info_usuario[i].nombre %></h2>
                            	<p><%= info_usuario[i].descripcion %></p>
                            	<p>Comentarios: <%= info_usuario[i].comentarios.length %></p>
                        	</article>
                    	</a>
                	</section>
            	</div>
        	<% } %>
	<!-- /Mis productos -->
    <%- include('./partials/foot')%>

</body>	
</html>