<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>
<body>
    <%- include('./partials/headerLogueado') %>    

	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						<%= lista_productos.comentarios%>
						<a href="/profile/<%= lista_productos.comentarios%>"> <%= lista_productos.usuarios %></a>
						<a href="/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	

	
	<div class="container products-wrapper">
    	<div class="row">
        	<div class="col-12">
            	<h2 class="products-title">Mis Productos</h2>
        	</div>
        	<% for (let i = 0; i < lista_productos.length; i++) { %>
            	<div class="col-12 col-sm-6 col-lg-3">
                	<section class="product-box">
                    	<a href="/productos/detalle/<%= lista_productos[i].id %>">
                        	<figure class="product-box_image">
                            	<img src="<%= lista_productos[i].imagen %>" alt="<%= lista_productos[i].nombre %>">
                        	</figure>
                        	<article class="product-box_data">
                            	<h2><%= lista_productos[i].nombre %></h2>
                            	<p><%= lista_productos[i].descripcion %></p>
                            	<p>Comentarios: <%= lista_productos[i].comentarios.length %></p>
                        	</article>
                    	</a>
                	</section>
            	</div>
        	<% } %>
	<!-- /Mis productos -->
    <%- include('./partials/foot')%>

</body>	
</html>