<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')%> 
<body>
    <%- include('./partials/header')%> 

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>

			<h2 class="col-12"> <br> Resultados de busqueda <br>
				<a href= "/productos/detalle/<%= lista_productos[i].id %>">
					<img src="<%= lista_productos[i].imagen %>" alt="<%= lista_productos[i].nombre %>">
			</h2>

            <%- include('./partials/foot')%> 

</body>

</html>