<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')%> 
<body>
    <%- include('./partials/header')%> 

	<div class="container products-wrapper">
		<div class="row">
	
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>

				<% for (let i = 0; i < lista_productos.length ; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/:id">
								<figure class="product-box_image">
									<img src="<%= lista_productos[i].imagen %>"alt="<%= lista_productos[i].nombre %>">
								</figure>
								<article class="product-box_data">
									<h2><%= lista_productos[i].nombre %></h2>
									<p><%= lista_productos[i].descripcion %></p>
									<p>Comentarios: <%= lista_productos[i].comentarios.length %></p>
								</article>
							</a>
						</section>
					</div>

		</div> 
				<% } %>
	</div>
            <%- include('./partials/foot')%> 

</body>

</html>